footer.g-footer
	.f-wrap
		.container
			.f-section
				.section-description
					.section-description__logo
						img(src='#{DIR}images/logo-light.png')
					.section-description__text
						p With 57 stores around New Zealand, and qualified staff across residential and commercial flooring, we can make your project happen. We supply carpet (including our exclusive SmartStrand ‘Rhino’ carpet), laminate, tiles, vinyl, luxury vinyl tile (LVT), wood and timber floors. We also stock curtains and blinds in selected Carpet Court stores
				.section-menu
					.section-menu__title need assistance?
					.section-menu__list
						.list-item
							a.ic-help-phone(href='#') 0800 787 777
						.list-item
							a.ic-help-email(href='#') email us
						.list-item
							a.ic-help-location(href='#') PO Box 105806, Auckland
			.f-section
				.section-description
					.section-description__title finance options available
					.section-description__text
						img.float-left(src='#{DIR}images/logo-qcard.png')
						p
							| We make it easy to get finance for your floor with a range of options available from Q&nbsp;Card.
							=' '
							a(href='#') Learn More
				.section-menu
					.section-menu__list
						.list-item
							a(href='#') careers
						.list-item
							a(href='#') franchise opportunies
						.list-item
							a(href='#') our blog
						.list-item
							a(href='#') contact us
						.list-item
							a(href='#') store locator
	.f-bar
		.container
			.f-bar__inner
				.f-bar__part.part--social
					.f-social
						a.ic-soc-facebook(href='#')
						a.ic-soc-instagram(href='#')
						a.ic-soc-pinterest(href='#')
						a.ic-soc-youtube(href='#')
				.f-bar__part.part--copyright
					.f-copyright 2019 © Carpet Court New Zealand. All Rights Reserved.