mixin card(image, title)
	a.card(href='#', style='background-image: url("#{image}")')
		.card-label
			.card-label__part
				.card-title #{title}
			.card-label__part
				.card-link explore

mixin card-small(image, title)
	a.card.card--small(href='#', style='background-image: url("#{image}")')
		.card-label
			.card-title #{title}