.locator-reviews
	.carousel-wrap.cursor
		.carousel-slider
			- var n = 0
			while n < 3
				- n++
				.slide
					.slide-wrap
						.slide-icon.ic2-icon-quote
						.slide-text I was greeted by a staff member straight away and she offered great service. She asked if I was on a budget, which I was and showed me samples that were both affordable and would fit my purpose. She was friendly and very informative. I had a great experience.
		.carousel-nav
			button.btn.btn-prev.ic-nav-prev(type='button')
			button.btn.btn-next.ic-nav-next(type='button')
		.carousel-dots