ul.locator-holiday
    li.locator-holiday__row
        .locator-holiday__left Boxing Day
        .locator-holiday__right
            span.locator-holiday__close Closed
    li.locator-holiday__row
        .locator-holiday__left New Years Eve
        .locator-holiday__right
            span.locator-holiday__close Closed
    li.locator-holiday__row
        .locator-holiday__left Christmas
        .locator-holiday__right
            span.locator-holiday__close Closed
    li.locator-holiday__row
        .locator-holiday__left All other day arround Holiday
        .locator-holiday__right 8:30am - 2:00pm