.section-come
	.container
		.s-wrap
			.h2.s-title Come to us, or we can come to you
			.s-text Quis Aristidem non mortuum diligit? Primum divisit ineleganter; Sed utrum hortandus es nobis, Luci, inquit, an etiam tua sponte propensus es? Sed haec omittamus.
			.s-buttons
				a.btn(href='#') book an in-home consultation
				a.btn(href='#') find a store near you