.locator-info
	.locator-info__group
		.locator-info__ttl Carpet Court Kaitaia
		.locator-info__row
			.locator-info__col
				| 5 Empire Street,
				br
				| Kaitaia, 0410
				br
				a(href='#') View more
			.locator-info__col
				| Phone: 09 408 4362
				br
				a(href='#') Email this store
	.locator-info__group
		.locator-info__ttl Carpet Court Whangarei
		.locator-info__row
			.locator-info__col
				| 26 Commerce St,
				br
				| Whangarei, 0110
				br
				a(href='#') View more
			.locator-info__col
				| Phone: 09 430 0771
				br
				a(href='#') Email this store