/* section-inspiration.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.section-inspiration {


  .s-wrap {
    border-top: 1px solid rgba($color-border-default, 0.5);
    padding: 60px 0;

    @media (max-width: $screen-xs-max) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }


  .s-heading {
    @media (min-width: $screen-md-min) {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: space-between;
    }
    @media (max-width: $screen-sm-max) {
      text-align: center;
      max-width: 640px;
      margin: 0 auto;
    }


    .s-heading__part {

      + .s-heading__part {
        @media (max-width: $screen-sm-max) {
          margin-top: 35px;
        }
      }
    }


    .btn {
      min-width: 150px;
    }
  }


  .s-title {
    margin: 0;
  }


  .s-text {
    margin-top: 5px;

    @media (min-width: $screen-md-min) {
      max-width: 560px;
    }
  }



  .s-list {
    margin-top: 40px;
    margin-left: -5px;
    margin-right: -5px;

    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
    }

    .list-item {
      padding: 5px;

      @media (min-width: $screen-md-min) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
      @media (min-width: $screen-sm-min) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }
}