extends ../tpl/layout

block vars
	- var bodyClass = ''
	- var pageTitle = 'Home'
	- var DIR = ''
block content
	include ../../components/pages/home/section-hero/index
	include ../../components/pages/home/section-category/index
	include ../../components/pages/home/section-come/index
	include ../../components/pages/home/section-inspiration/index
	include ../../components/pages/home/section-badges/index
	include ../../components/pages/home/section-story/index