/* section-category.scss */

// variables **********************************************************************************************************

// mixins *************************************************************************************************************

// styles *************************************************************************************************************

.section-category {
  padding: 80px 0 0;
  background: #f5f6f6;
  @media (max-width: $screen-xs-max) {
    padding-top: 50px;
  }

  .pagination-wrap {
    margin-right: 16%;
  }
  .s-heading {
    @media (min-width: $screen-md-min) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
    @media (max-width: $screen-sm-max) {
      text-align: center;
      max-width: 640px;
      margin: 0 auto;
    }


    .s-heading__part {

      + .s-heading__part {
        @media (max-width: $screen-sm-max) {
          margin-top: 35px;
        }
      }
    }


    .btn {
      min-width: 150px;
    }
  }


  .s-title {
    margin: 0;
  }


  .s-list {
    margin-top: 0 !important;
    margin-left: -5px;
    margin-right: -5px;

    @media (min-width: $screen-sm-min) {
      display: flex;
      flex-wrap: wrap;
    }


    .list-item {
      background: #FFF;
      padding: 19px;
      margin: 23px;
      @media (min-width: $screen-lg-min) {
        flex: 0 0 17%;
        max-width: 21% !important;
      }
      @media (min-width: $screen-md-min) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }
      @media (min-width: $screen-sm-min) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }


  .s-list-simple {
    border-top: 1px solid rgba($color-border-default, 0.5);
    border-bottom: 1px solid rgba($color-border-default, 0.5);

    @media (min-width: $screen-sm-min) {
      display: none;
    }
    @media (max-width: $screen-mob-max) {
      margin-left: -($grid-gutter-width / 2);
      margin-right: -($grid-gutter-width / 2);
    }


    .list-item {

      @media (max-width: $screen-mob-max) {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
      }

      + .list-item {
        border-top: 1px solid rgba($color-border-default, 0.5);
      }

      a {
        position: relative;
        @include ff-medium;
        display: block;
        text-decoration: none;
        font-size: rem(16px);
        padding: 14px 0;
        @include ic(menu-arrow);

        &:before {
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: rem(12px);
        }
      }
    }
  }
}
.section-category .s-list .list-item {
  padding: 16px !important;
}
button.dropdown-toggle div.current-toggle {
  @media (max-width: $screen-xs-max) {
    width: 61%;
    padding-left: 8px;
    font-size: 14px;
  }
}
.hide-mobile {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
.header-sort-wrap .counter {
  @media (max-width: $screen-xs-max) {
    text-align: center;
    float: none;
    margin: 0;
  }
}
.footer-wrap .pagination-wrap {
  @media (max-width: $screen-xs-max) {
    margin-left: 30%;
  }
}
.dropdown-toggle {
  @media (max-width: $screen-xs-max) {
    width: 207px;
  }
}
.f-dropdown-menu {
  @media (max-width: $screen-xs-max) {
    width: 119px;
  }
}
.locator-hero-filter, .f-sorter.display-pc, .list-item.display-pc {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
.filter-mobile.f-sorter, .f-sorter.display-mobile {
  margin: 0;
  display: inline-block;
  width: 45%;
  @media (min-width: $screen-xs-max) {
    display: none;
  }
}

.btn-next-mobile {
  position: absolute;
  z-index: 1000;
  top: 50%;
  right: -40px;
  color: #0c0c0c;
}
.btn-prev-mobile {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: -40px;
  color: #0c0c0c;
}
.mobile-slider {
  @media (min-width: $screen-xs-max) {
    display: none;
  }
}
.locator-hero-filter, .f-sorter.display-pc {
  @media (min-width: $screen-xs-max) {
    display: block;
  }
}
.section-category.blog-block .s-list {
  @media (max-width: $screen-xs-max) {
    display: block;
  }
}
a.card {
  background-size: 127%;
}
.card-link {
  width: 100%;
  height: 34px;
  color: rgb(67, 74, 79);
  font-size: 13px;
  font-family: Omnes;
  letter-spacing: 0.18px;
  line-height: 17px;
}
.card-link p {
  margin: 0;
}
.post-navigation .nav-links a {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  padding: 10px 15px;
  color: #000;
  background: #fff;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
}
.post-navigation .nav-links .nav-next a {
  background-image: url('../images/arrow-right.png');
  background-size: 26%;
  background-repeat: no-repeat;
  background-position: 100%;
}
.post-navigation .nav-links .nav-previous a {
  background-image: url('../images/arrow-left.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 0%;
}
.post-navigation .nav-links .nav-previous a:hover {
  color: #fff;
  background: #ea3e4c url('../images/arrow-left.png');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 0%;
}
.post-navigation .nav-links .nav-next a:hover {
  color: #fff;
  background: #ea3e4c url('../images/arrow-right.png');
  background-size: 26%;
  background-repeat: no-repeat;
  background-position: 100%;
}
.post-navigation .nav-links .nav-next a .meta-nav {
  margin-right: 31px;
}
.post-navigation .nav-links .nav-previous a .meta-nav {
  margin-left: 24px;
}
.post-navigation .nav-links .nav-next a:before {
  content: '';
}
.post-navigation .nav-links .nav-previous a:before {
  content: '';
}
.social-img {
  float: right;
  width: 30px;
  margin-top: 10px;
}
.social-links {
  border-top: 1px solid #e1e2e5;
  border-bottom: 1px solid #e1e2e5;
  height: 50px;
  line-height: 50px;
  margin-bottom: 80px;
}
.relatedposts {
  width: 100%;
  float: left; font-size: 12px;
  background: #f5f6f6;
  padding: 50px;
}
.relatedposts h3 {font-size: 20px; margin: 0 0 5px 0; }
.relatedthumb {margin: 0 1px 0 1px; float: left; }
.relatedthumb img {margin: 0 0 3px 0; padding: 0;}
.relatedthumb a {color :#333; text-decoration: none; display:block; padding: 4px; width: 340px;}
.relatedthumb a:hover {background-color: #ddd; color: #000;}
h3.related-articles {
  height: 21px;
  color: rgb(67, 74, 79);
  font-size: 26px;
  font-family: Omnes-Semibold;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.15px;
  line-height: 21px;
}
.relatedposts .list-item {
  width: 24%;
  float: left;
  background: #fff;
  padding: 15px;
  margin: 8px;
}
.relatedposts .view-more-articles {
  width: 246px;
  height: 50px;
  background: rgb(241, 62, 75);
  border-radius: 4px;
  margin-top: 40px;
}
.more-wrap {
  text-align: center;
}
.g-main .g-main {
  padding-top: 0px;
}
.section-category .page-numbers {
  display: inline-block;
  text-decoration: none;
  color: #808487;
  font-family: Omnes-Regular;
  font-size: 15px;
  letter-spacing: .16px;
  padding: 11px 15px;
  text-align: center;
}
.section-category .page-numbers:not(:last-child) {
  border-right: 1px solid #e3e5e7;
}
.section-category .page-numbers {
  border-right: none;
}
.section-category .page-numbers.current {
  background: rgb(234, 235, 237);
}
.f-dropdown-menu {
  display: none;
  position:absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 215px;
  padding-left: 14px;
  z-index: 3;
}
.open .f-dropdown-menu {
    display: block;
}
button.dropdown-toggle div.current-toggle {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #eaebed;
  height: 40px;
  width: 218px;
  line-height: 40px;
  background: #fff url(../images/arrow.png) 97% 53% no-repeat;
  background-size: 10%;
  text-align: left;
  padding-left: 22px;
  position: relative;
}
.f-sorter {
  margin-left: 78%;
  position: relative;
}