mixin product-info
    .product-info
        p.product-info-title.js-accordeon-title Product Info
            span.product-info-title__icon
                +icon('drop_arrow')
        .js-accordeon-content
            .product-info-content
                dl
                    dt Category:
                    dd Rigid
                dl
                    dt Best For:
                    dd families, pets, wet areas, kitchen & living spaces
                dl
                    dt Material:
                    dd Rigid
    .product-info
        p.product-info-title.js-accordeon-title Finance Options
            span.product-info-title__icon
                +icon('drop_arrow')
        .js-accordeon-content
            .product-info-content
                a(href="#") Find out more