.product-info {
  border-top: 1px solid #eaebed;
  @include rm(901){
    &:not(:last-child) {
      @include rm(901){
        padding-top: 15px;
        margin-bottom: 30px;
        }
      }
    }
  
    &-title {
      $this: &;
  
      position: relative;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 0;
      color: $text-color;
      font-family: $font-medium;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 0.2px;
      line-height: 1.1;
      @include r(768){
        font-size: 16px;
      }

  
      &__icon {
        display: block;
        width: 13px;
        height: 7px;
        font-size: 0;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s;
  
        @include rm(901) {
          display: none;
        }
      }
  
      &.is-opened {
        #{$this}__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
  
      @include rm(901) {
        pointer-events: none;
      }
    }
  
    &-content {
      padding-top: 15px;
  
      dl {
        display: flex;
        flex-flow: row wrap;
        font-family: $font-family-base;
  
        &:not(:last-child) {
          margin-bottom: 50px;
          @include r(768){
            margin-bottom: 16px;
          }
        }
      }
  
      dt {
        display: block;
        width: 105px;
        flex-shrink: 0;
        font-size: 18px;
        line-height: calc(24/18);
        font-weight: 500;
        font-family: $font-medium;
        letter-spacing: 0.15px;
      }
  
      dd {
        flex-grow: 1;
        max-width: 190px;
        font-size: 15px;
        line-height: calc(22/15);
        font-weight: 400;
        font-family: $font-regular;
        letter-spacing: 0.17px;
      }
  
      a {
        font-size: 15px;
        line-height: calc(22/15);
        font-family: $font-regular;
        font-weight: 400;
        letter-spacing: 0.17px;
        text-decoration: underline;
        font-family: $font-regular;
        color: $text-color;
      }
    }
  
    @include r(900) {
      .js-accordeon-content {
        display: none;
      }
    }
  }

.product-description{
  margin-bottom: 45px;
  @include r(900) {
    text-align: center;
  }
  &__title{
    margin-bottom: 15px;
    @include r(900) {
      display: none;
    }
  }
}

.producr-button-row{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 40px;
  @include r(900) {
    margin-bottom: 30px;
  }
  @include r(768) {
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 10px;
  }
  .measure-button{
      min-width: 246px;
      @include rm(769) {
        margin-right: 8%;
      }
  }
  .measure-button,.wish-button{
      margin-top: 10px;
      margin-bottom: 10px;
  }
}