-
	var data = [
		{image: DIR + 'images/category/category-image-1.jpg', title: 'carpet'},
		{image: DIR + 'images/category/category-image-2.jpg', title: 'laminate'},
		{image: DIR + 'images/category/category-image-3.jpg', title: 'vinyl'},
		{image: DIR + 'images/category/category-image-4.jpg', title: 'tiles'},
		{image: DIR + 'images/category/category-image-5.jpg', title: 'wood'},
		{image: DIR + 'images/category/category-image-6.jpg', title: 'vinyl planks'},
		{image: DIR + 'images/category/category-image-7.jpg', title: 'curtains & blinds'},
		{image: DIR + 'images/category/category-image-8.jpg', title: 'rigid'}
	];

header.g-header
	.h-bar.js-check-padding
		.container
			.h-bar__inner
				.bar-text
					| finance options available  -
					=' '
					a(href='#') find out more
				.bar-menu
					.menu-item
						a.ic-bar-heart(href='#') saved items
					.menu-item
						a.ic-bar-phone(href='#') 0800 787 777
	.h-wrap.js-check-padding
		.container
			.h-wrap__inner
				.h-burger
					button.btn-burger.mm-opener(type='button', data-target='#mobileMenu')
						span.icon
				.h-search
					a.ic-nav-search.search-opener(href='#')
				.h-logo
					a(href='/home.html')
						img(src='#{DIR}images/logo-dark.png')
				.h-nav
					.nav-item
						a.clickable(href='#', data-dropdown='#nav-1') Carpet
					.nav-item
						a(href='#', data-dropdown='#nav-2') Flooring
					.nav-item
						a(href='#') Rugs
					.nav-item
						a(href='#') Curtains & Blinds
					.nav-item
						a(href='#', data-dropdown='#nav-3') Cleaning
					.nav-item
						a(href='#', data-dropdown='#nav-4') Advice
					.nav-item.nav-item--promo
						a(href='#') Promotions
					.nav-item.nav-item--right
						a.ic-nav-search.search-opener(href='#') search
					.nav-item.nav-item--right
						a.ic-nav-location(href='#') find a store
				.h-button
					a.btn.btn-index(href='#') free measure & quote
				.h-favorite
					a.ic-bar-heart(href='#')
				.h-location
					a.ic-nav-location(href='#')
	.h-drop.js-check-padding
		.container
			- var n = 0
			while n < 4
				- n++
				.drop-menu.js-card-wrapper(id='nav-#{n}')
					.drop-menu__nav
						.menu-item
							a(href="#").menu-item__title Colour
							ul.menu-item__list
								li.menu-item__unit
									a.menu-item__link(href="#") Grey
								li.menu-item__unit
									a.menu-item__link(href="#") Brown
								li.menu-item__unit
									a.menu-item__link(href="#") Patterned
								li.menu-item__unit
									a.menu-item__link(href="#") More colours
						.menu-item
							a(href="#").menu-item__title Room
							ul.menu-item__list
								li.menu-item__unit
									a.menu-item__link(href="#") Garage Carpet
								li.menu-item__unit
									a.menu-item__link(href="#") Bedroom Carpet
								li.menu-item__unit
									a.menu-item__link(href="#") Outdoor Carpet
								li.menu-item__unit
									a.menu-item__link(href="#") Hallway
								li.menu-item__unit
									a.menu-item__link(href="#") Living Room Carpet
						.menu-item
							a(href="#").menu-item__title Fibre
							ul.menu-item__list
								li.menu-item__unit
									a.menu-item__link(href="#") Wool
								li.menu-item__unit
									a.menu-item__link(href="#") Nylon
								li.menu-item__unit
									a.menu-item__link(href="#") Rhino
						.menu-item
							a(href="#").menu-item__title Underlay
							ul.menu-item__list
								li.menu-item__unit
									a.menu-item__link(href="#") 
								li.menu-item__unit
									a.menu-item__link(href="#") 
								li.menu-item__unit
									a.menu-item__link(href="#") 

					.drop-menu__img
						.menu-img-category
							img(src='#{DIR}images/category/category-image-#{n}.jpg', alt="")
							.menu-img-category__title Carpet
	.drop-search.js-check-padding
		.container
			.drop-search-inner
				.drop-search-main
					.drop-search-form
						.drop-search-form__field
							form.search-form
								input(type='text', placeholder='search for products, categories or advice...')
								button.ic-nav-search(type='submit')
						.drop-search-form__bttn
							button.search-opener.ic-icon-cross(type='button') close
					.drop-search-tile
						- var n = 0
						while n < 4
							- n++
							.search-result-card
								.search-result-card__img
									img(src="images/product-tool/swatch.jpg", alt="Evercore Herringbone")
								.search-result-card__title
									.search-result-card__name Rhino   Evercore Herringbone
									.search-result-card__whish
										i.ic-bar-heart
								.search-result-card__subtitle

					.drop-search-total
						.drop-search-total__value showing 4 of 6 results for ‘Rhino'
					.drop-search-show
						a.btn.btn-index.btn--grey(href="#") view all products
				.drop-search-aside
					.drop-search-category
						.drop-search-category__title related categories
						ul.drop-search-category__list
							li
								a(href="#") shop Carpet / Cut & Loop Pile
							li
								a(href="#") shop Carpet / Cut Pile
							li
								a(href="#") shop Carpet / Loop Pile
					.drop-search-category
						.drop-search-category__title related articles
						ul.drop-search-category__list
							li
								a(href="#") trusted Brand Winner!
							li
								a(href="#") top Tips For Christmas Spills