.section-content
	.container
		.s-wrap
			.row
				.s-content.col-md-6
					h2.s-title.hidden-md-min Carpet Court St Lukes
					img.s-image(src='#{DIR}images/content/locator-store.jpg')
				.s-sidebar.col-md-6
					h2.s-title.hidden-sm-max Carpet Court St Lukes
					p Come in and see the latest looks in flooring – from carpet, laminate and vinyl planks to tiles, to timber and vinyl.
					p Plus if you’re looking for inspiration, you can walk on our large in-floor samples which have been laid as they would be in a home, which will help you visualise what flooring will work for you – rather than try and make a decision from a tiny sample!
					p We’ll also encourage you to take off your shoes, walk on the floor – and trust your feet to make the right choice for your home.
					.locator-info
						.locator-info__group
							.locator-info__ttl Address
							.locator-info__row
								.locator-info__col
									| 6/8 Morningside Dr,
									br
									| Sandringham, Auckland,
									br
									| 1025
								.locator-info__col
									| Phone: 09 601 8090
									br
									a(href='#') Email this store
						.locator-info__group
							.locator-info__ttl Store Hours
							include ../locator-holiday/index
							.locator-info__row
								.locator-info__col
									| #[strong Today:] 8:30am - 5:00pm
									br
									| Mon: 8:30am - 5:00pm
									br
									| Tue: 8:30am - 5:00pm
									br
									| Wed: 8:30am - 5:00pm
									br
									a(href='#') View more
								.locator-info__col
									| Thu: 8:30am - 5:00pm
									br
									| Fri: 8:30am - 5:00pm
									br
									| Sat: 9:00am - 4:00pm
									br
									| Sun: 10:00am - 4:00pm