mixin product-slider
	.product-slider-wrap
		.product-slider-main
			.product-slider
				a.slide(href="images/product-slider/room@2x.png")
					img.product-slider-img(src="images/product-slider/room.png", alt="room", data-large-img-url="images/product-slider/room@2x.png")
				a.slide(href="images/product-card/product-image.png")
					img.product-slider-img(src="images/product-card/product-image.png", alt="room", data-large-img-url="images/product-card/product-image.png")
				a.slide(href="images/product-slider/room@2x.png")
					img.product-slider-img(src="images/product-slider/room.png", alt="room", data-large-img-url="images/product-slider/room@2x.png")
				a.slide(href="images/product-card/product-image.png")
					img.product-slider-img(src="images/product-card/product-image.png", alt="room", data-large-img-url="images/product-card/product-image.png")
			.product-slider-nav
				button.btn.btn-prev.ic-nav-prev(type='button')
				button.btn.btn-next.ic-nav-next(type='button')
			.product-slider-dots
			.magnifier-preview#js-product-slider-zoom
		.product-slider-thumnbs
			.thumnbs-slide
				img(src="images/product-slider/room.png", alt="room")
			.thumnbs-slide
				img(src="images/product-card/product-image.png", alt="room")
			.thumnbs-slide
				img(src="images/product-slider/room.png", alt="room")
			.thumnbs-slide
				img(src="images/product-card/product-image.png", alt="room")