mixin review()
    .review
        .review-user
            .review-user-logo
            .review-user-nail
        .review-user-content
            .review-user
        .review-user-btns
            .like-button
                .like-button__icon
                    +icon('finger-up')
                .like-button__count 0
            .dislike-button
                .dislike-button__icon
                    +icon('finger-down')
                .dislike-button__count 0