/* _icons.scss */

// !IMPORTANT:  Plugin generate this file automatically!
// File template: __iconstemplate.scss
// List of generetated icons:local/src/scss/db.base/__iconstemplate.scss

@font-face {
  font-family: "sprite";
  src:
      url('../fonts/sprite.woff2') format('woff2'),
      url('../fonts/sprite.woff') format('woff');
}

@mixin ic-styles {
  font-family: "sprite";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ic {
  @include ic-styles;
}

@function ic-char($filename) {
  $char: "";

  @if $filename == help-email {
  $char: "\E001";
}
  @if $filename == help-location {
  $char: "\E002";
}
  @if $filename == help-phone {
  $char: "\E003";
}
  @if $filename == icon-check {
  $char: "\E004";
}
  @if $filename == icon-cross {
  $char: "\E005";
}
  @if $filename == menu-arrow {
  $char: "\E006";
}
  @if $filename == nav-next {
  $char: "\E007";
}
  @if $filename == nav-prev {
  $char: "\E008";
}
  @if $filename == soc-facebook {
  $char: "\E009";
}
  @if $filename == soc-instagram {
  $char: "\E00A";
}
  @if $filename == soc-pinterest {
  $char: "\E00B";
}
  @if $filename == soc-youtube {
  $char: "\E00C";
}

@return $char;
}

@mixin ic($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %ic;
  } @else {
    @include ic-styles;
  }
  content: ic-char($filename);
}
}

.ic-help-email {
  @include ic(help-email);
}
.ic-help-location {
  @include ic(help-location);
}
.ic-help-phone {
  @include ic(help-phone);
}
.ic-icon-check {
  @include ic(icon-check);
}
.ic-icon-cross {
  @include ic(icon-cross);
}
.ic-menu-arrow {
  @include ic(menu-arrow);
}
.ic-nav-next {
  @include ic(nav-next);
}
.ic-nav-prev {
  @include ic(nav-prev);
}
.ic-soc-facebook {
  @include ic(soc-facebook);
}
.ic-soc-instagram {
  @include ic(soc-instagram);
}
.ic-soc-pinterest {
  @include ic(soc-pinterest);
}
.ic-soc-youtube {
  @include ic(soc-youtube);
}