.section-content
	.container
		.s-wrap
			.row
				.s-content.col-md-7
					h2.s-title Stores in Northland
					p Driving instructions, parking arrangements, disabled facilities, etc. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
					include ../locator-info/index
				.s-sidebar.col-md-5
					.assistance-box
						.assistance-box__title need assistance?
						.assistance-box__text Please don’t hesitate to contact us for any questions or queries that you may have.
						.assistance-box__list
							.list-item
								a.ic-help-phone(href='#') 0800 787 777
							.list-item
								a.ic-help-email(href='#') email us
							.list-item
								a.ic-help-location(href='#') PO Box 105806, Auckland