mixin product-selector
    .product-selector
        .product-selector__title Selected Colour:
            .product-selector__title-select.js-select-color Honey Parquet
        .product-selector-inner.js-product-parent 
            .product-selector-preview
                .product-selector-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")
                .product-selector-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")
                .product-selector-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")
                .product-selector-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")
                .product-selector-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")
                .product-selector-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")

            ul.product-selector-thumbs
                li.product-selector-thumbs__item.js-product-trigger
                    .product-selector-thumbs__img
                        img(src="images/colors/color-1.png", alt="color")
                li.product-selector-thumbs__item.js-product-trigger
                    .product-selector-thumbs__img
                        img(src="images/colors/color-2.png", alt="color")
                li.product-selector-thumbs__item.js-product-trigger
                    .product-selector-thumbs__img
                        img(src="images/colors/color-3.png", alt="color")
                li.product-selector-thumbs__item.js-product-trigger
                    .product-selector-thumbs__img
                        img(src="images/colors/color-4.png", alt="color")
                li.product-selector-thumbs__item.js-product-trigger
                    .product-selector-thumbs__img
                        img(src="images/colors/color-5.png", alt="color")
                li.product-selector-thumbs__item.js-product-trigger
                    .product-selector-thumbs__img
                        img(src="images/colors/color-6.png", alt="color")
            