.swatch-gallery-wrap.js-swatch-parent
    .swatch-gallery.js-product-parent
        button(aria-label="close modal").swatch-gallery__close.js-show-swatch
            +icon('close')
        .swatch-gallery__title Swatch Gallery
            
        .swatch-gallery-inner
            ul.swatch-gallery-thumbs
                li.swatch-gallery-thumbs__item.js-product-trigger(data-naming="Honey Parquet 0")
                    .swatch-gallery-thumbs__img
                        img(src="images/colors/color-1.png", alt="color")
                li.swatch-gallery-thumbs__item.js-product-trigger(data-naming="Honey Parquet 1")
                    .swatch-gallery-thumbs__img
                        img(src="images/colors/color-2.png", alt="color")
                li.swatch-gallery-thumbs__item.js-product-trigger(data-naming="Honey Parquet 2")
                    .swatch-gallery-thumbs__img
                        img(src="images/colors/color-3.png", alt="color")
                li.swatch-gallery-thumbs__item.js-product-trigger(data-naming="Honey Parquet 3")
                    .swatch-gallery-thumbs__img
                        img(src="images/colors/color-4.png", alt="color")
                li.swatch-gallery-thumbs__item.js-product-trigger(data-naming="Honey Parquet 4")
                    .swatch-gallery-thumbs__img
                        img(src="images/colors/color-5.png", alt="color")
                li.swatch-gallery-thumbs__item.js-product-trigger(data-naming="Honey Parquet 5")
                    .swatch-gallery-thumbs__img
                        img(src="images/colors/color-6.png", alt="color")
            .swatch-gallery__select.js-select-color
            .swatch-gallery-preview
                .swatch-gallery-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")

                .swatch-gallery-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")

                .swatch-gallery-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")

                .swatch-gallery-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")

                .swatch-gallery-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');")

                .swatch-gallery-preview__item.js-product-target(style="background-image:url('images/product-preview/product-preview.png');" data-trig-index="5")