.g-search
	button.btn.search-opener.ic-icon-cross(type='button')
	.container
		.search-wrap
			form.search-form
				input(type='text', placeholder='type keyword(s) here')
				button.btn.btn-submit(type='submit') Search