mixin product-features
    .product-features
        .product-features__item
            img(src="images/features/dent_resistent_icon.svg", alt="dent resistent icon")
        .product-features__item
            img(src="images/features/easy_maintenance_icon.svg", alt="easy maintenance icon")
        .product-features__item
            img(src="images/features/exclusive_icon.svg", alt="exclusive icon")
        .product-features__item
            img(src="images/features/fade_resistent_icon.svg", alt="fade resistent icon")
        .product-features__item
            img(src="images/features/family_friendly_icon.svg", alt="family friendly icon")
        .product-features__item
            img(src="images/features/hard_wearing_icon.svg", alt="hard wearing icon")
        .product-features__item
            img(src="images/features/luxury_icon.svg", alt="luxury icon")
        .product-features__item
            img(src="images/features/pet_friendly_icon.svg", alt="pet friendly icon")
        .product-features__item
            img(src="images/features/water_resistent_icon.svg", alt="water resistent icon")